<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>HGNQI/zTJvl5i+7gHbaIsEb6GRu3HLXqe1QD2NNkvhkmZ91fj7DBgDXqWmY1Ag1kySvdU8jsgR96b5YEMRfr9ZLf1fPISmUHlGjEfc1OYYrUFK/IhGELXYo4zTuw7oI12eKw71YOxuuHcVosW/EMKbXA8D+YNnCocw2nmoVC9hSSdyISXRn2IJmsizVnPNUf9Cog0UAKS9hZji8ATClk0e3FiD3JzWHLeay/bYPW7FlkC9eanQ7nDPPTIlg5wDJS/QBXWBVccmfCGxYjB2Y5kvAN3FmHtOwgH77U+AsKE/LiIr0T55Wn0jPCJUnMowjJVJiJqre2wlt/kUfrM5fV5g==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Ja+V6kfoAJFMieIOu55mojCGyAzAt3JU6kQUvOwqMfHOiC1SXWKvNvE8NtvU+CQC</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>